<div>
    <div>
        <ol class="breadcrumb">
            <li><a href="#/sale/list">销售管理</a></li>
            <li class="active">新建销售记录</li>
        </ol>

    </div>
    <form class="form-horizontal" role="form" name="form" ng-submit="createSale();">

        <div class="form-group">
            <label for="customerName" class="col-sm-2 control-label">客户姓名</label>

            <div class="col-sm-5">
                <input type="text" name="customerName" class="form-control" id="customerName"
                       placeholder="客户姓名"
                       ng-model="sale.customerName" required="true" ng-maxlength=20>
            </div>
            <div class="error" ng-show="form.customerName.$dirty && form.customerName.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.customerName.$error.required">客户姓名是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.customerName.$error.maxlength">长度不能大于20</small>
            </div>
        </div>

        <div class="form-group">
            <label for="customerPhone" class="col-sm-2 control-label">客户联系方式</label>

            <div class="col-sm-5">
                <input type="text" name="customerPhone" class="form-control" id="customerPhone"
                       placeholder="客户联系方式"
                       ng-model="sale.customerPhone" required="true" ng-pattern="/^[0-9]{11}$/">
            </div>
            <div class="error" ng-show="form.customerPhone.$dirty && form.customerPhone.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.customerPhone.$error.required">客户联系方式是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.customerPhone.$error.pattern">必须为11位数字</small>
            </div>
        </div>

        <div class="form-group">
            <label for="customerAddress" class="col-sm-2 control-label">客户地址</label>

            <div class="col-sm-5">
                <input type="text" name="customerAddress" class="form-control" id="customerAddress"
                       placeholder="客户地址"
                       ng-model="sale.customerAddress" required="true" ng-maxlength=50>
            </div>
            <div class="error" ng-show="form.customerAddress.$dirty && form.customerAddress.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.customerAddress.$error.required">客户地址是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.customerAddress.$error.maxlength">长度不能大于50</small>
            </div>
        </div>

        <div class="form-group">
            <label for="machineModel" class="col-sm-2 control-label">安装机型</label>

            <div class="col-sm-5">
                <input type="text" name="machineModel" class="form-control" id="machineModel"
                       placeholder="安装机型"
                       ng-model="sale.machineModel" required="true" ng-minlength=4 ng-maxlength=20>
            </div>
            <div class="error" ng-show="form.machineModel.$dirty && form.machineModel.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.machineModel.$error.required">安装机型是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.machineModel.$error.minlength">长度必须大于4</small>
                <small class="alert alert-danger well-sm" ng-show="form.machineModel.$error.maxlength">长度不能大于20</small>
            </div>
        </div>

        <div class="form-group">
            <label for="machineNumber" class="col-sm-2 control-label">机身编号</label>

            <div class="col-sm-5">
                <input type="text" name="machineNumber" class="form-control" id="machineNumber"
                       placeholder="机身编号"
                       ng-model="sale.machineNumber" required="true" ng-minlength=4 ng-maxlength=20>
            </div>
            <div class="error" ng-show="form.machineNumber.$dirty && form.machineNumber.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.machineNumber.$error.required">安装机型是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.machineNumber.$error.minlength">长度必须大于4</small>
                <small class="alert alert-danger well-sm" ng-show="form.machineNumber.$error.maxlength">长度不能大于20</small>
            </div>
        </div>

        <div class="form-group">
            <label for="saleTime" class="col-sm-2 control-label">安装时间</label>

            <div class="col-sm-5">
                <input type="date" ui-date="startDateOptions" name="saleTime" maxlength="20" class="form-control" id="saleTime" placeholder="安装时间"
                       ng-model="sale.saleTime" required="true" ng-pattern="/^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/">
            </div>
            <div class="error" ng-show="form.saleTime.$dirty && form.saleTime.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.saleTime.$error.required">安装时间为必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.saleTime.$error.pattern">格式不正确，例如2013-01-01</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-lg">保存</button>
                <button type="submit" class="btn btn-primary btn-lg" onclick="window.history.back();">取消</button>
            </div>
        </div>
    </form>
</div>