<div>
    <div>
        <ol class="breadcrumb">
            <li><a href="#/customer/list">客户管理</a></li>
            <li class="active">修改客户</li>
            <li class="active">{{customer.userName}}</li>
        </ol>

    </div>
    <form class="form-horizontal" role="form" name="form" ng-submit="updateCustomer();">

        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">姓名</label>

            <div class="col-sm-5">
                <input type="text" name="userName" maxlength="20" class="form-control" id="userName" placeholder="姓名"
                       ng-model="customer.userName" required="true" ng-minlength=4 ng-maxlength=20>
            </div>
            <div class="error" ng-show="form.userName.$dirty && form.userName.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.userName.$error.required">姓名是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.userName.$error.minlength">长度必须大于4</small>
                <small class="alert alert-danger well-sm" ng-show="form.userName.$error.maxlength">长度不能大于20</small>
            </div>
        </div>

        <div class="form-group">
            <label for="sex" class="col-sm-2 control-label">性别</label>
            <div class="col-sm-5">
                <select class="form-control" id="sex" ng-model="customer.sex" name="sex" required="true">
                    <option value="1" selected="selected">男</option>
                    <option value="2">女</option>
                    <option value="3">其他</option>
                </select>
            </div>
            <div class="error" ng-show="form.sex.$dirty && form.sex.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.sex.$error.required">性别是必须的</small>
            </div>
        </div>

        <div class="form-group">
            <label for="age" class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-5">
                <input type="text" name="age" class="form-control" id="age" placeholder="年龄"
                       ng-model="customer.age" ng-number="true">
            </div>
            <div class="error" ng-show="form.age.$dirty && form.age.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.age.$error.number">必须是数字</small>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-5">
                <input type="text" name="phone" maxlength="20" class="form-control" id="phone" placeholder="联系方式"
                       ng-model="customer.phone" required="true" ng-minlength=11 ng-maxlength=11>
            </div>
            <div class="error" ng-show="form.phone.$dirty && form.phone.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.phone.$error.required">联系方式是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.phone.$error.minlength">长度必须大于11</small>
                <small class="alert alert-danger well-sm" ng-show="form.phone.$error.maxlength">长度不能大于11</small>
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">地址</label>

            <div class="col-sm-5">
                <input type="text" name="address" class="form-control" id="address" placeholder="地址"
                       ng-model="customer.address" required="true" ng-minlength=4 ng-maxlength=20>
            </div>
            <div class="error" ng-show="form.address.$dirty && form.address.$invalid">
                <small class="alert alert-danger well-sm" ng-show="form.address.$error.required">密码是必须的</small>
                <small class="alert alert-danger well-sm" ng-show="form.address.$error.minlength">长度必须大于4</small>
                <small class="alert alert-danger well-sm" ng-show="form.address.$error.maxlength">长度不能大于20</small>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-lg">保存</button>
            </div>
        </div>
    </form>
</div>